/* Comment in CSS */
/* .Name is calling CLASS */
/* #Name is calling ID */

* { /* adding universal selector */
    background-color:lightgreen; /* used universal selector to apply background color */
    text-align: center; /* centered Text and images on page*/
    list-style-position: inside; /* centered list on page*/

}

.lesson {
    background-color:navajowhite;
}

.box {
    height: 200px;
    width: 100px;
    background-color: aquamarine;
}

.name{
    padding: 8px;
    position:relative;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
    width: 110px;
    border-width: 2px;
    border-radius: 91%;
    }


/*.lesson { }
*/

#paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
    background-color:darkslateblue;
    background-color:lemonchiffon; /* WHY DO I HAVE 2 BACKGROUND COLORS ON THIS LINE!!?*/
}

.contact {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    font-weight: 200;
    text-align: justify;
    text-transform: uppercase;
}
/*added to list class in H3 Contact info*/

.email {
    background-color:darkslateblue;
    background-color:lemonchiffon;
}

.github {
    color:darkslateblue;
    background-color:darkorange;
}

.portfolio {
    color:tomato;
    
}

.list {
    color:tomato;
    background-color:lemonchiffon;
}

#list1 {
    color:darkslateblue;
    background-color:darkorange;
}

#list2 {
    color:grey;
    background-color:darkslateblue;
}

img{
    border-radius:74%;
}